# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# WolfSSL user_settings.h file
user_settings.h

# Secret files
*.pem
*.key
*.p7*

# Config files
*.cfg

# Visual Studio IntelliSense directory
.vs

# VS output directories
x64
Debug
Release

# Xcode output directories
XCBuildData
DerivedData

# Alyssa HTTP Server specific stuff
htroot
*.log
Alyssa.cfg
*.alyssa

# macOS persistent storage(?) stuff
._*
.DS_Store

# Compiled resources
*.res
*.aps
resource.h

# CGI test apps
*.bat
*.sh

*.txt